#RewriteEngine On
  	#RewriteCond %{REQUEST_FILENAME} -f [OR]
  	#RewriteCond %{REQUEST_FILENAME} -d
	#RewriteRule ^(.+) - [PT,L]
	#RewriteRule ^admin/(.*)$ AdminArea/login.php?$1 [QSA,L]
	
	
#ErrorDocument 404 http://localhost/music/404.html